/TaglistCollectionDemo/TaglistCollectionDemo.xcodeproj/xcuserdata/hammoda.xcuserdatad
/TaglistCollectionDemo/TaglistCollectionDemo.xcodeproj/project.xcworkspace/xcuserdata/hammoda.xcuserdatad
/.DS_Store
